.contact {
  @include flexCentr;
  margin-left: auto;

  &_item {
    color: var(--text-color-gray);
    display: block;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &_icon {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}
